body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.3;
  color: #140731;
  background-color:#f8fbfd;
  position: relative;
} 

.site-nav{
  background:grey;
  padding: 1rem;
}
.menu{
  display:flex;
  justify-content: space-between;
}

.site-nav img{
  width: 2rem;
}
main{
  width: 600px;
  margin: 5rem auto;
}

.toggle{
  display:inline-block;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

.toggle i{
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: #d5d5d5;
  border-radius: 2rem;
  vertical-align: middle;
  transition: all 0.3s linear;
}

/* default background color grey */
.toggle i::before{
  content:"";
  position: absolute;
  left: 0;
  width: calc(4rem - 4px);
  height: calc(2rem - 4px);
  background:tomato;
  border-radius: 2rem;
  transform: translate3d(2px, 2px, 0);
  transition: all 0.3s linear;
}
/* default button ciricle square */
.toggle i::after{
  content:"";
  position: absolute;
  left: 0;
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  background:rgb(237, 237, 237);
  border-radius: 2rem;
  transform: translate3d(2px, 2px, 0);
  transition: all 0.3s linear;
}

/* checked state animate */
.toggle input:checked + i::before{
  background-color: #4bd763;
}

.toggle input:checked + i::after{
  transform: translate3d(calc(2rem + 2px), 2px, 0)
}

.toggle input{
  display:none;
}

 

 